h1 {
    color: tomato;
}

p {
    font-size: 16px;
}

li {
    list-style: disc;
}

body {
    background-color: honeydew;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

li:hover {
    color: orangered;
}