h1 {
    color: steelblue;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 500;
}

li {
    list-style: square;
}

body {
    background-color: mintcream;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    background-color: moccasin;
    padding: 20px;
    border-radius: 12px;
}