body {
    font-family: 'Calibri', sans-serif;
    background-color: beige;
}

table {
    display: table;
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1.5px solid black;
    padding: 15px;
    width: 30%;
    text-align: center;
}

tr:nth-child(even){
    color: lightcoral;
}