body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: square;
}

table {
    display: table;
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}