h1 {
    color: darkgreen;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

li {
    list-style: circle;
}

body {
    background-color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: lemonchiffon;
    padding: 20px;
    border: 2px solid saddlebrown;
    margin: 30px auto;
    width: 70%;
    border-radius: 15px;
}