h1 {
    color: dodgerblue;
    text-align: center;
}

p {
    font-size: 17px;
    margin-bottom: 10px;
}

li {
    list-style-type: square;
}

body {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    border: 2px solid brown;
    padding: 15px;
}