h1 {
    color: orangered;
}

p {
    font-size: 16px;
}

ul {
    list-style: circle;
    padding-left: 25px;
}

li:hover {
    color: purple;
}

body {
    background-color: lavender;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}