h1 {
    color: darkslategrey;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-color: linen;
    font-family: Calibri, sans-serif;
}

.work-items {
    background-color: papayawhip;
    padding: 20px;
    border: 2px solid peru;
    border-radius: 12px;
    margin: 30px auto;
}

.work-item li.desk {
    position: relative;
    top: 0;
    left: 0;
}

.work-item li.laptop {
    position: absolute;
    top: 40px;
    left: 50px;
}

.work-item li.lamp {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.work-item li.notebook {
    position: relative;
    top: 20px;
    left: 10px;
}

.work-item li.headphones {
    position: absolute;
    bottom: 10px;
    right: 50px;
    z-index: 3;
}